﻿@{
    ViewBag.Title = "Gov Law Tech - GovHack 2015";
}

<div class="jumbotron">
    <h1>This Land Is Mine</h1>
    <p class="lead">An entry for GovHack 2015 by Gov Law Tech for the Australian Government Organisations Register bounty, by <a href="http://govlawtech.com.au">Gov Law Tech.</a></p>
    <p class="lead">An API exposing data from the Australian Government Organisations Register and Administrative Arrangements Orders.</p>
    
    
</div>

<div class="row">
    <div align="center">
    
    <iframe src="https://player.vimeo.com/video/132627529" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h1>The Data</h1>
        <p>
            The original <a href="http://data.gov.au/dataset/australian-government-organisations-register">AGOR data</a> at data.gov.au
            shows key statistics about over 1000 Australian Government Organisations including:
            <ul>
                <li>Appropriations in millions according to Budget Paper 4</li>
                <li>The Portfolio of the organisation</li>
                <li>Expenses in millions</li>
                <li>Average Staffing Level</li>
            </ul>
        <p>
            You can read more about what defines Australian Government Organisations in the Australian public sector at the <a href="http://www.finance.gov.au/resource-management/governance/overview/">Department of Finance's information page on Governance Structures in the Public Sector.</a>
        </p>
        <p>
            The data comprises four CSV files representing snapshots of data at the following dates:
            <ul>
                <li>11 December 2014</li>
                <li>16 January 2015</li>
                <li>24 April 2015</li>
                <li>18 May 2015</li>
            </ul>
            (These dates come from the file descriptions at data.gov.au.)
        </p>
    </div>
</div>

<div class="row">
<div class="col-md-12">
    <h1>Feature One: Key data from the AGOR exposed as time series</h1>
  
    

        <p>Users may be interested in how the statistics for a particular organisation change over time.  However, it is cumbersome to extract this from the data manually.</p>
    
    <p>We exposed an API to return this data for any given Australian Government Organisation.</p>
    
</div>
    </div>
<div class="row well">
    <div class="col-md-6">
        <h2>Example</h2>
        <p>To get time series data for the Department of Agriculture, paste the following into the address bar of your web browser:</p>
        <pre>
            http://govhack2015.azurewebsites.net/SingleAgoByName/Department of Agriculture
        </pre>
    </div>
    <div class="col-md-6">
        <h2>Output</h2>
        The API returns a table of stats for the Department of Agriculture.
        <pre>
            "Date,ASL,Appropriations ($M),Expenses ($M)
            12/11/2014,4165,1977,686
            2/16/2015,4165,1977,686
            4/24/2015,4108,1977,686
            5/18/2015,4179,1924.9,708.6"
        </pre>
        We decided to return the data a CSV as it is compact way to represent tabular data, and can be transferred to a spreadsheet easily.
    </div>
</div>

 
<div class="row">
    <div class="col-md-12">
        <h1>Feature Two: Portfolio changes over time</h1>
        <p>Users may be interested in the changes in key statistics over time for an entire Portfolio, comprising multiple Government organisations.  The API can return aggregates of figures for a portfolio, based on the data for individual Government organisations in the Portfolio.</p>
        
        
        
    </div>
</div>

<div class="row well">
    <div class="col-md-6">
        <h2>Example</h2>
        <p>To get changes in the Agriculture Portfolio over time, paste the following into the address bar of your web browser:
        </p>
        <pre>
            http://govhack2015.azurewebsites.net/PortfolioAggregates/Agriculture
        </pre>
    </div>
    
    <div class="col-md-6">
        <h2>Output</h2>
        <pre>
            Date,ASL,Appropriations ($M),Expenses ($M)
            12/11/2014,4707,2051,1076
            2/16/2015,4707,2051,1076
            4/24/2015,4650,2339,1076
            5/18/2015,4712,2300.7,1106.7
</pre>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Feature Three (BONUS!): Data matching with Administrative Arrangements Orders</h1>
        <p>Administrative Arrangements Orders issued by the Governor General set out which Acts each Portfolio administers.</p>

        <p>We compiled data from past orders:<p><p> <a href="https://bitbucket.org/nickcanic/govhack2015/src/ed79ae888f89edada33e031e5a93d4529030d8d0/GovHack2015/Database/Data/AAO%20All.xlsx?at=master" class="btn btn-primary btn-lg active" role="button">Download our hand compiled data</a></p>

        <p>Then we cleaned up the data for Administrative Arrangements Orders covering the times of the snapshot data in the AGOR.  The Administrative Arrangements orders refer to Portfolios as 'Departments'.  'Departments' in the AAO's map to 'Portfolios' in the AGOR.  We found a few things in this cleanup process:</p>
        <ul>
            <li>The Portfolio 'Parliamentary Departments' appears in the AGOR but not in the Adminstrative Arrangements Orders.</li>
            <li>The data shows the 'Industry' portfolio disappearing and 'Industry and Science' appearing.</li>
        </ul>
        
        <p>
            This data now matches Portfolios in the AGOR.
        </p>

        <p>
            <a href="https://bitbucket.org/nickcanic/govhack2015/raw/6883a2a9dff5844a9a6a97fb8929a07599e22cfa/GovHack2015/Database/Data/govhackAAOdata.csv" class="btn btn-primary btn-lg active" role="button">Download sanitised data</a>
        
        </p>
        
        
        <p>This data is exposed in the API, allowing you to get the Acts Administered in a Portfolio at a particular date.</p>
        
        <p>So now you can see what Acts are administered by an agency at a particular time and compare it to the AGOR data.  What is all that money being spent on?  Do changes in the Administered Acts flow through to budgets?</p>
      
        <div class="col-md-6">
            <h2>Example</h2>
            Get all the Acts administered in the Agriculture Portfolio at 1 January 2015:
            
            Put this in your web browser's address bar:
            <pre>
                  http://govhack2015.azurewebsites.net/AdministeredActs/Agriculture/2015-01-01    
            </pre>

            

        </div>
        
        <div class="col-md-6">
            <h2>Result</h2>
            <pre>
                                ["Agricultural and Veterinary Chemical Products (Collection of Levy) Act 1994","Agricultural and Veterinary Chemical Products Levy Imposition (Customs) Act 1994","Agricultural and Veterinary Chemical Products Levy Imposition (Excise) Act 1994","Agricultural and Veterinary Chemical Products Levy Imposition (General) Act 1994","Agricultural and Veterinary Chemicals Act 1994","Agricultural and Veterinary Chemicals (Consequential Amendments) Act 1994","Agricultural and Veterinary Chemicals (Administration) Act 1992","Agricultural and Veterinary Chemicals Code Act 1994","Australian Animal Health Council (Live-stock Industries) Funding Act 1996","Australian Meat and Live-stock Industry Act 1997","Australian Meat and Live-stock Industry (Repeals and Consequential Provisions) Act 1997","Australian Meat and Live-stock Legislation (Consequential Amendments and Transitional Provisions) Act 1985","Australian Meat and Live-stock (Quotas) Act 1990","Ballast Water Research and Development Funding Levy Act 1998"....."]
            </pre>
        </div>


    </div>
</div>

<div class="row" style="padding-top: 25px">
    <div class="col-md-4 well">
        <h1>Thanks</h1>
        We wouldn't have been able to get anything useful working without:
        <ul>
            <li>Microsoft, for making their great tools.</li>
            <li>The GovHack organisers and volunteers, especially Liam Byrne from the ABS for giving some direction and ideas on Friday night. </li>
            <li>The GovHack sponsors - somebody had to pay for all that free food.</li>
            <li>The Department of Finance for making the data available via comlaw.gov.au and data.gov.au.</li>
        </ul>
        <p>
            Inspiration: <a href="http://blog.ninapaley.com/2012/10/01/this-land-is-mine/">This Land is Mine</a> by Nina Paley.
        </p>
    </div>
    <div class="col-md-8">
        <h1>Cutting Room Floor</h1> 

        <p>Some of the Friday night aspriations which reached far beyond reality, because of dogs that needed to be walked, floors than needed to be vacuumed, children entertained, and sleep enjoyed fully without worry:</p>

        <ul>
            <li>Visualizing Portfolios as countries on world map.  The plan was to annotate a world map (or perhaps a map of Europe) with Portfolio names.  The algorithm was to order countries by area, order Portfolios by Apprpriations, then match the two so that the biggest portfolio would correspond to the largest country.  As Portfolios grow, we could show them taking over adjacent territory.  The <a href="https://developers.google.com/chart/interactive/docs/gallery/geochart">Google Charts 'Geochart' API </a>assists with creating and annotating the maps.</li>
            <li>As a more boring alternative to the above, a <a href="https://developers.google.com/chart/interactive/docs/gallery/treemap">treemap</a> showing the relative size of portfolios. a sequence of treemaps would visually illustrate changes. </li>
            <li>Now we have the data more organised, there are a bunch more interesting queries we can do quite easily:
                <ul>
                    <li>Bloaters: top three biggest growing portfolios</li>
                    <li>Shrinkers: top three greatest portfolio shrinkages</li>
                    <li>Newbies: new organisations at a particular time</li>
                    <li>Deaders: organisations that disappear and when</li>
                    <li>Name changes - where a name changes but ABN persists</li>
                    <li>Portfolio changes - where an organisation changes portfolio</li>
                </ul>
            </li>
            <li>Data cleansing and validation.  We didn't do much - just whitespace trimming and minor formatting changes.  Errors and inconsistences in the original data will bubble up through the API.</li>
            <li>General testing of the API.  We hardly actually did anything of this either!</li>
            <li>Loading the data into a SQL database to make it easier to update the data in future.  We planned to do this, and started the work.  However, we were weary of striking a configuration roadblock that would eat our time, so we just load the data into memory once when the web application starts os the server.  </li>

        </ul>
    </div>

</div>
